<% if notice.present? %>
  <p id="alert-alert" class="alert alert-success text-center my-alert mt-1 fw-bold"><%= notice %></p>
<% end %>

<% if alert.present? %>
  <p id="alert-alert" class="alert alert-danger text-center my-alert mt-1 fw-bold"><%= alert %></p>
<% end %>

<h1 class="text-center mb-5 mt-3">Bem-vindo novamente <%= current_user.name %> !! </h1>

<div id="accounts" class="d-flex justify-content-center">
 <% @accounts.each do |account| %>
  <%= render account %>
  <% if account.user == current_user %>
    <%= link_to "Ver conta", account, class: "btn btn-primary" %>
  <% end %>
<% end %>

  <% if !current_user.account %>
    <%= link_to "Nova conta", new_account_path ,  class: "btn btn-primary" %>
  <% end %>
</div>
<style>
  #carouselExampleDark .carousel-item img {
    width: 100%;
    height: 300px; /* Defina a altura desejada para as imagens */
    object-fit: cover;
  }
</style>