<%= form_tag transfer_form_account_path(@account), method: :post do %>
  <div class="form-group">
    <%= label_tag :account_number, 'Número da Conta de Destino', class: 'fw-bold' %>
    <%= text_field_tag :account_number, nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag :amount, 'Valor da Transferência', class: 'fw-bold' %>
    <%= number_field_tag :amount, nil, class: 'form-control' %>
  </div>
  <%= submit_tag 'Transferir', class: 'btn btn-primary' %>
<% end %>
