
<h1 class="text-center mt-3">Saque</h1>

<%= form_tag withdraw_account_path(@account), method: :post do %>
  <div class="d-flex flex-column row-my-2 border p-5 gap-3 bg-light mt-5 rounded">
    <span class="fs-8">Valor disponivel: R$<%= @account.balance %></span>
    <%= label_tag :withdraw_amount, 'Digite o valor a ser sacado', class: "fw-bold" %>
    <%= number_field_tag :withdraw_amount, nil, step: "any", class: "form-control" %>
    <div class="d-flex gap-3 justify-content-center">
      <%= submit_tag 'Sacar', class: "btn btn-success" %>
      <%= link_to "Voltar", :back, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
